ClienteWS/xml-resources/web-service-references/Calculadora/wsdl/localhost_8080/CalculadoraWS/Calculadora.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://webs/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webs/">

<xs:element name="dividir" type="tns:dividir"/>

<xs:element name="dividirResponse" type="tns:dividirResponse"/>

<xs:element name="multiplicar" type="tns:multiplicar"/>

<xs:element name="multiplicarResponse" type="tns:multiplicarResponse"/>

<xs:element name="somar" type="tns:somar"/>

<xs:element name="somarResponse" type="tns:somarResponse"/>

<xs:element name="subtrair" type="tns:subtrair"/>

<xs:element name="subtrairResponse" type="tns:subtrairResponse"/>

<xs:complexType name="somar">
<xs:sequence>
<xs:element name="a" type="xs:double"/>
<xs:element name="b" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="somarResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="multiplicar">
<xs:sequence>
<xs:element name="a" type="xs:double"/>
<xs:element name="b" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="multiplicarResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dividir">
<xs:sequence>
<xs:element name="a" type="xs:double"/>
<xs:element name="b" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dividirResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="subtrair">
<xs:sequence>
<xs:element name="a" type="xs:double"/>
<xs:element name="b" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="subtrairResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>